{% include header.html %}
<div class="container px-2 max-width: 100%">
<!-- https://air.unimi.it/rm/public/picture/img/it.cilea.ga.model.Person/99a0f8df-6045-4945-b6cd-361b074e9553.fragment-->
    <img src="static/img/logo/MatBri.jpg" alt="Matteo Brilli" width="200" align="right">
    <div class="row">
        <div class="col-sm-8">
    	    <div class="jumbotron h-100">
        	    {{ content }}
            </div>
        </div>
        <div class="col">
            {% include contact_sidebar.html %}
        </div>
    </div>
</div>
{% include footer.html %}
